/* 브런치 스토리 - 내 서랍 CSS */

/* 공통으로 빼야 할 CSS - wrapper */
.wrapper {
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 14px 20px;
}

/* 공통으로 빼야 할 CSS - brunch story header */
.bs-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;

  margin: 0 -20px;
  padding: 0 20px;
}

.bs-header__logo {
  padding: 14px 0;
}

.bs-header__icons a:nth-child(2) {
  margin-left: 10px;
}

.bs-header__profile {
  margin-left: 21px;
}

.bs-header__icons .bs-header__profile img {
  width: 30px;
  height: 30px;
}

/* 내 서랍 - 공통 - Section Header CSS */
.my-drawer__header {
  display: flex;
  align-items: center;
  margin: 34px 0 15px 0;
}

.my-drawer__title {
  font-size: 19px;
  font-weight: 600;
  color: #111111;
  margin-right: 3px;
  line-height: 22px;
}

.my-drawer__icon {
  width: 20px;
  height: 20px;
  display: block;
  margin-bottom: 2px;
}

/* 내 서랍 - 관심 작가 CSS */
.fav-authors {
  margin-bottom: 34px;
}

/* 내 서랍 - 관심 작가 - Author List CSS */
.fav-authors__list {
  display: flex;
  overflow-x: auto; /* 가로 스크롤. 가로로 넘칠 경우에만 스크롤바 나타나게 설정 */
}

.fav-authors__list::-webkit-scrollbar {
  /* 스크롤바 안보이게 하기 위한 설정 */
  display: none;
}

.fav-authors__item {
  text-align: center;
  margin-right: 26px;
  flex: none;
}

.fav-authors__avatar {
  margin-bottom: 16px;
}

.fav-authors__name {
  font-size: 13px;
  font-weight: 300;
  color: #393939;
  line-height: 20px;
}

/* 내 서랍 - 최근 본 CSS */
.recent-views {
  margin-bottom: 34px;
}

/* 내 서랍 - 최근 본 - Recent View List CSS */
.recent-views__list {
  display: flex;
  overflow-x: auto;
}

.recent-views__list::-webkit-scrollbar {
  display: none;
}

.recent-views__item {
  width: 123px;
  margin-right: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: none;
}

.recent-views__book-thumbnail {
  width: 123px;
  height: 172px;
  margin-bottom: 16px;
  object-fit: cover; /* 이미지 비율 유지를 위한 설정 */
}

.recent-views__title {
  font-size: 12px;
  font-weight: 400;
  line-height: 23px;
  white-space: normal;
  text-align: center;
  margin-bottom: 16px;
}

.recent-views__author {
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  color: #959595;
}
