/* 브런치 스토리 - 내 서랍 CSS */

/* 내 서랍 - 공통 - Section Header CSS */
.my-drawer__header {
  display: flex;
  align-items: center;
  margin: 34px 0 15px;
}

.my-drawer__title {
  font-size: 19px;
  font-weight: 600;
  color: #111111;
  margin-right: 3px;
  line-height: 22px;
}

.my-drawer__icon {
  width: 20px;
  height: 20px;
  display: block;
  margin-bottom: 2px;
}

/* 내 서랍 - 관심 작가 CSS */
.fav-author {
  margin-bottom: 34px;
}

/* 내 서랍 - 관심 작가 - Favorite Author List CSS */
.fav-author__lists {
  display: flex;
  overflow-x: auto; /* 가로 스크롤. 가로로 넘칠 경우에만 스크롤바 나타나게 설정 */
}

.fav-author__lists::-webkit-scrollbar {
  /* 스크롤바 안보이게 하기 위한 설정 */
  display: none;
}

.fav-author__list {
  text-align: center;
  margin-right: 26px;
  flex: none;
  cursor: pointer;
}

.fav-author__avatar {
  margin-bottom: 16px;
}

.fav-author__name {
  font-size: 13px;
  font-weight: 300;
  color: #393939;
  line-height: 20px;
}

/* 내 서랍 - 최근 본 CSS */
.recent-view {
  margin-bottom: 34px;
}

/* 내 서랍 - 최근 본 - Recent View List CSS */
.recent-view__lists {
  display: flex;
  overflow-x: auto;
  cursor: pointer;
}

.recent-view__lists::-webkit-scrollbar {
  display: none;
}

.recent-view__list {
  width: 123px;
  margin-right: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: none;
}

.recent-view__book-thumbnail {
  width: 123px;
  height: 172px;
  margin-bottom: 16px;
  object-fit: cover; /* 이미지 비율 유지를 위한 설정 */
}

.recent-view__title {
  font-size: 12px;
  font-weight: 400;
  line-height: 23px;
  white-space: normal;
  text-align: center;
  margin-bottom: 16px;
}

.recent-view__author {
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  color: #959595;
}

/* 내 서랍 - 관심 글 CSS */
.fav-article {
  margin-bottom: 34px;
}

/* 내 서랍 - 관심 글 - Favorite Articels List CSS */
.fav-article__lists {
  display: flex;
  overflow-x: auto;
}

.fav-article__lists::-webkit-scrollbar {
  display: none;
}

.fav-article__list {
  width: 123px;
  margin-right: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: none;
}

.fav-article__book-thumbnail {
  width: 123px;
  height: 172px;
  margin-bottom: 16px;
  object-fit: cover; /* 이미지 비율 유지를 위한 설정 */
}

.fav-article__title {
  font-size: 12px;
  font-weight: 400;
  line-height: 23px;
  white-space: normal;
  text-align: center;
  margin-bottom: 16px;
}

.fav-article__author {
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  color: #959595;
}

/* 내 서랍 - 내 브런치 CSS */
.my-brunch__lists {
  margin-top: 14px;
  border-top: 1px solid #e0e0e0;
  margin: 0 -20px;
  padding: 0 20px;
  cursor: pointer;
}

.my-brunch__list {
  border-bottom: 1px solid #e0e0e0;
  margin: 0 -20px;
  padding: 14px 20px;
}

.my-brunch__subTitle {
  font-size: 17px;
  font-weight: 400;
  line-height: 26px;

  margin-bottom: 8px;
}

.my-brunch__title {
  color: #959595;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 9px;
}

.my-brunch__createdAt {
  color: #959595;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
