@font-face {
    font-family: 'Pretendard';
    src: url("/src/assets/fonts/Pretendard/Pretendard-Regular.woff2") format("woff2"),
         url("/src/assets/fonts/Pretendard/Pretendard-Regular.woff") format("woff");
         font-weight: 400; /* regular */
}

@font-face {
    font-family: 'Pretendard';
    src: url("/src/assets/fonts/Pretendard/Pretendard-Light.woff2") format("woff2"),
    url("/src/assets/fonts/Pretendard/Pretendard-Light.woff") format("woff");
         font-weight: 200; /* light */
}

@font-face {
    font-family: 'Pretendard';
    src: url("/src/assets/fonts/Pretendard/Pretendard-SemiBold.woff2") format("woff2"),
    url("/src/assets/fonts/Pretendard/Pretendard-SemiBold.woff") format("woff");
         font-weight: 600; /* semibold */
}

* {
    box-sizing: border-box;
}

html {
    background-color: #eee;
}

body {
    max-width: 360px;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
}

.by {
    font-size: 13px;
    line-height: 19px;
    font-family: 'Georgia';
    font-style: italic;
}

.divider {
    height: 9px;
    background-color: #ddd;
}

/* header */
header {
    display: flex;
    align-items: center;
}

#header img {
    display: inline-block;
    cursor: pointer;
    margin-bottom: -4px;
    padding: 0;
}

#logo-container {
    padding: 14px 0 14px 20px;

}

#search-container {
    padding: 10px 0 10px 98px;

}
#start-container {
    padding: 13px 20px 13px 10px;

}

#search {
    width: 30px;
    height: 30px;
}
/* nav */
#main-nav {
    display: flex;
    flex-direction: column;
    background-color: #8D4E8E;
    margin: 0;
    align-items: center;
}

.nav-div1 {
    padding-top: 55px;
}

#main-nav h2,p {
    text-align: center;
    margin: 0;
    color: #fff;
}

.nav-div2 p {
    font-size: 12px;
}

.name {
    margin-top: 10.5px;
}

#main-nav h2 {
    font-size: 22px;
    line-height: 31px;
}

.nav-div3 {
    position: relative;
    padding-top: 66px;
}

.badge {
    position: absolute;
    top: 66px;
    right: 10px;
}

.cheering {
    line-height: 21px;
    font-size: 14px;
}

.cheering::before {
    content: "";
    display: inline-block;
    width: 21px;
    height: 21px;
    background-image: url("/src/assets/icons/Cheer.svg");
    background-repeat: no-repeat;
    margin-right: 5px;
    vertical-align: middle;
}

.slider-container {
    display: flex;
    align-items: center;
    padding-top: 30px;
}

.slider-text {
    margin-left: 10px;
    font-size: 11px;
    color: rgba(255, 255, 255, 0.2);
}

.slider-bars {
    display: flex;
}

.bar {
    width: 20px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
}

.bar.active {
    background-color: rgba(255, 255, 255);
}

/* .slider-text.active {
    color: rgba(255, 255, 255);
} */

/* todays-pick div */

.todays-pick-header {
    padding: 50px 25px 10px 25px;
}

.todays-pick-header h1 {
    font-size: 12px;
    font-family: "Georgia";
    font-style: italic;
    line-height: 14px;
}

.todays-pick-header h2 {
    font-size: 19px;
    line-height: 22px;
    font-family: "Pretendard";
}

.top10-list {
    margin: 0;
    padding: 0;
    margin-bottom: 45px;
}

.top10 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 25px 0 25px;
    margin-bottom: 20px;
    position: relative;
}

.top10:first-child {
    border-top: none;
}

.top10:not(:last-child)::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 25px;
    right: 25px;
    height: 0.5px;
    background-color: #eee;
}

.rank {
    position: absolute;
    top: 18px;
    left: 32px;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: -3px;
}

.rankUp {
    position: absolute;
    top: 50px;
    left: 33.3px;
}

.top10-info {
    padding-left: 34px;
}

.top10-info__header {
    font-family: "Pretendard";
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    margin: 0;
    margin-bottom: 4px;
}

.top10-info__author {
    font-size: 13px;
    color: #959595;
    text-align: left;
    margin: 0;
    margin-bottom: 20px;
}

.top10-info__text {
    font-size: 13px;
    color: #666;
    font-family: "Pretendard";
    font-weight: 200;
    line-height: 19px;
    text-align: left;
}

.top10-img {
    margin-left: 15px;
}