/* typography */
:root {
  font-family: "Pretendard";
}

a {
  text-decoration-line: none;
}

/* Layout */
.wrap {
  max-width: 360px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* profile */
.wrap-profile.coverImage {
  position: relative;
  height: 100px;
  background-color: #f8f8f8;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrap-profile-layout {
  display: flex;
}

.wrap-profile-thumb {
  position: relative;
  margin: 0 20px 20px;
}

.wrap-profile-thumb .authorImage {
  overflow: hidden;
  position: absolute;
  top: -40px;
  left: 220px;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  object-fit: cover;
}

.wrap-profile-thumb-info_authorName {
  font-size: 27px;
  font-weight: 300;
  line-height: 30px;
  color: #333;
}

.desc_bloger {
  padding-top: 5px;
}

.wrap-profile-thumb-info .desc_bloger,
.txt_g {
  font-size: 12px;
  line-height: 18px;
  font-weight: 300;
  color: #959595;
}

.wrap-profile-thumb-info .num_count {
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  color: #666;
}

.wrap-profile-thumb-info .blog_count {
  display: flex;
  flex-direction: row;
  padding-top: 16px;
}

.wrap-profile-thumb-info .num_count {
  display: flex;
  flex-direction: column;
}

.blog_count .follower {
  margin-right: 27px;
}

.wrap-profile-btn {
  margin-left: auto;
  margin-top: auto;
  padding-right: 20px;
  margin-bottom: 20px;
}

/* main */
.wrap-article-list .list_article .link_category {
  display: inline-block;
  vertical-align: top;
}

.wrap-article-list_post {
  margin: 20px;
}

.wrap-article-list_post .titCategory {
  color: #00c6be;
  min-width: 20px;
  text-decoration-line: underline;
}

.post-title {
  margin-top: 10px;
}

.wrap-article-list_post .post-title_subject {
  color: #333;
  font-size: 17px;
  line-height: 24px;
}

.wrap-article-list .titleSub {
  color: #666;
}

.wrap-title-contents {
  color: #959595;
  font-size: 12px;
  line-height: 20px;
  padding-top: 4px;
}

.post-content {
  margin-bottom: 6px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ico-bar {
  margin: 0 3px 0 16px;
}

.ico-dot {
  display: inline-block;
  width: 2px;
  height: 2px;
  margin: 9px 5px 0 6px;
  background-color: #ddd;
  vertical-align: top;
}

hr {
  height: 1px;
  border: 0;
  background-color: #eee;
}
