<!-- 브런치 스토리 Footer -->
<footer class="bs-footer">
  <ul class="bs-footer__list">
    <li class="bs-footer__button">
      <a
        class="bs-footer__link"
        href="../../pages/main/main.html"
        data-icon-on="../../assets/icons/ic-home-on.svg"
        data-icon-off="../../assets/icons/ic-home-off.svg"
      >
        <img src="../../assets/icons/ic-home-off.svg" alt="Home" />
        <h6 class="bs-footer__title">홈</h6>
      </a>
    </li>
    <li class="bs-footer__button">
      <a
        class="bs-footer__link"
        href="../../pages/search/search.html"
        data-icon-on="../../assets/icons/ic-search-on.svg"
        data-icon-off="../../assets/icons/ic-search-off.svg"
      >
        <img src="../../assets/icons/ic-search-off.svg" alt="Search" />
        <h6 class="bs-footer__title">발견</h6>
      </a>
    </li>
    <li class="bs-footer__button">
      <a
        class="bs-footer__link"
        href="../../pages/write/write.html"
        data-icon-on="../../assets/icons/ic-write-on.svg"
        data-icon-off="../../assets/icons/ic-write-off.svg"
      >
        <img src="../../assets/icons/ic-write-off.svg" alt="Write" />
        <h6 class="bs-footer__title">글쓰기</h6>
      </a>
    </li>
    <li class="bs-footer__button">
      <a
        class="bs-footer__link"
        href="../../pages/myDrawer/myDrawer.html"
        data-icon-on="../../assets/icons/ic-mydrawer-on.svg"
        data-icon-off="../../assets/icons/ic-mydrawer-off.svg"
      >
        <img src="../../assets/icons/ic-mydrawer-off.svg" alt="My Drawer" />
        <h6 class="bs-footer__title">내서랍</h6>
      </a>
    </li>
  </ul>
</footer>
