<!-- 브런치 스토리 Header 로그인 전-->
<header class="bs-header logged-out">
  <a class="bs-header__logo" href="/src/pages/main/main.html">
    <img src="/public/assets/logo/logo.svg" alt="Brunch Story Logo" />
  </a>
  <div class="bs-header__icons">
    <a class="bs-header__icon" href="/src/pages/search/search.html">
      <img src="/public/assets/icons/ic-search-header.svg" alt="Search Icon" />
    </a>
    <a href="/src/pages/login/login.html" class="startbtn" id="start-btn"
      >시작하기</a
    >
  </div>
</header>
