<!-- 브런치 스토리 Header 로그인 후-->
<header class="bs-header logged-in">
  <a class="bs-header__logo" href="/src/pages/main/main.html">
    <img src="/assets/logo/logo.svg" alt="Brunch Story Logo" />
  </a>
  <div class="bs-header__icons">
    <a class="bs-header__icon" href="#">
      <img src="/assets/icons/ic-notice.svg" alt="Notice Icon" />
    </a>
    <a class="bs-header__icon" href="/src/pages/search/search.html">
      <img src="/assets/icons/ic-search-header.svg" alt="Search Icon" />
    </a>
    <a class="bs-header__profile" href="/src/pages/myDrawer/myDrawer.html">
      <img class="bs-header__logo-src" src="" alt="Author Profile" />
    </a>
  </div>
</header>
