/* 브런치 스토리 - 내 서랍 CSS */

/* 공통으로 빼야 할 CSS - Brunch Stroy wrapper */
.wrapper {
  background-color: #ffffff;
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 22px 20px 14px;
  height: 100vh;
}

/* 공통으로 빼야 할 CSS - Brunch Stroy Footer */
.bs-footer {
  background-color: #ffffff;
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
}

.bs-footer__list {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  margin: 0;
}

.bs-footer__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bs-footer__button a {
  color: inherit;
  text-decoration: none;
}

.bs-footer__title {
  font-size: 12px;
  font-weight: 300;
  line-height: 27px;
  margin-top: 5px;
  text-align: center;
}

/* 발견 - Section Header CSS */
.search-header {
  border-bottom: 1px solid #dddddd;
  margin: 0 -20px;
  text-align: center;
}

.search-query__input {
  width: 100%;
  max-width: 320px;
  padding: 20px 40px;
  text-align: center;
  box-sizing: border-box;

  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
  color: #333333;
}

.search-query__input::placeholder {
  font-size: 24px;
  color: #bfbfbf;
  font-weight: 300;
}

.search-query__clear-btn {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}

.search-query__clear-btn img {
  width: 16px;
  height: 16px;
}

.search-tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-tab__item {
  flex: 1;
  text-align: center;
  padding-top: 20px;
  font-size: 14px;
  font-weight: 300;
  line-height: 37px;
  color: #666666;
}
