/* reset */
hr {
  margin: unset;
  padding: unset;
}

* {
  font-family: "Pretendard";
}

html,
body {
  overflow: hidden;
}

input,
textarea {
  border-width: 0;
}

input,
textarea:focus {
  outline: none;
}

hr {
  background: #eee;
  height: 1px;
  border: 0;
}

/* component */
.wrap {
  max-width: 360px;
  margin: 0 auto;
  /* padding: 20px; */
  box-sizing: border-box;
}

.wrap-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 14px 20px;
}

.wrap-header img {
  cursor: pointer;
}

.wrap-header-done {
  position: relative;
  float: left;
}

.wrap-header-done .hoverDoneOn {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

.wrap-header-done:hover .hoverDoneOn {
  display: block;
}

.wrap-header_title {
  margin: auto;
  font-size: 19px;
  line-height: 22px;
  font-weight: 600;
  color: rgba(17, 17, 17, 1);
}

.wrap-main {
  font-weight: 400;
  word-wrap: break-word;
}

.wrap-main-subject_mainTitle {
  font-size: 24px;
  line-height: 26px;
  margin: 20px 20px;
}

.wrap-main-subject_subTitle {
  font-size: 20px;
  line-height: 18px;
  margin: 20px 20px;
}

.wrap-main-contents {
  margin: 0 auto;
  position: relative;
  min-height: 40vh;
  margin: 0 28px;
  overflow: hidden;
}

.wrap-main-contents_text {
  font-size: 20px;
  line-height: 18px;
  padding: 30px 0;
  resize: none;
  white-space: pre-wrap;
}

/* footer */
/* addImage */
.add-img {
  display: none;
}
/* addBar */
.wrap-addBar-contents {
  padding: 22px 25px;
  width: 360px;
  box-sizing: border-box;
  background-color: rgba(248, 248, 248, 1);
  display: flex;
}

.wrap-addBar-contents img {
  width: 40px;
  cursor: pointer;
}

.wrap-addBar-contents_picture {
  margin-right: 15px;
}

.wrap-addBar-contents_align {
  margin-right: 135px;
}

.wrap-addBar-contents_keyboard {
  margin-left: auto;
}

/* 공통으로 빼야 할 CSS - Brunch Stroy Footer */
.bs-footer {
  background-color: #ffffff;
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  z-index: 2;
}

.bs-footer__list {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  margin: 0;
}

.bs-footer__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bs-footer__button a {
  color: inherit;
  text-decoration: none;
}

.bs-footer__title {
  font-size: 12px;
  font-weight: 300;
  line-height: 27px;
  margin-top: 5px;
  text-align: center;
}
